<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edgardeng.oracle.dao.OracleUserMapper">
    <resultMap id="user" type="com.edgardeng.oracle.domain.OracleUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="DECIMAL" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="status" jdbcType="DECIMAL" property="status"/>
        <result column="gender" jdbcType="DECIMAL" property="gender"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>

    </resultMap>

    <select id="findUserWithId" resultMap="user">
        select u.user_id,u.name,u.email,u.phone
        from USER_VIEW u
        where u.user_id = #{userId}
    </select>

</mapper>